/*For contact */

.contact-text {
  position: absolute;
  margin-left: 20%;
  margin-top: 8vh;
}

#icon {
  width:32px;
  height:32px;
  position: relative;
  margin-left: 20%;
  margin-top: 25vh;

  -webkit-animation-name: animation2;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 3;
  -webkit-animation-direction: reverse;

  animation-name: animation2;
  animation-duration: 5s;
  animation-iteration-count: 3;
  animation-direction: reverse;
}

@keyframes animation2 {
  0% {margin-left: 20%; margin-top: 25vh;}
  25% {margin-left: 30%; margin-top: 25vh;}
  50% {margin-left: 30%; margin-top: 28vh;}
  75% {margin-left: 20%; margin-top: 28vh;}
  100% {margin-left: 20%; margin-top: 25vh;}
}


#contact {
  padding: 50px 10%;
  display: none;
  width: 400px;
  height: 200px;
  min-width: 150px;
  min-height: 100px;
  background-color: white;
  z-index: 1;
  position: relative;
  margin-top: 5%;
  margin-left:20%;
  box-shadow: 0 0 0.5px 0.5px #dddfe2;
}


.date-contact {
  position: absolute;
  margin-left: 20%;
  margin-top: 40vh;
}
.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  /*font-size: 30px;*/
  text-align: center;
}

#formular {
  position: absolute;
  margin-left: 20%;
  bottom: 5vh;
}


